body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.anim {
-webkit-animation:shakemeup 900ms infinite alternate;
        margin-top:30px;
	color:#f2da5b;
	font-family:"Jolly Lodger",cursive;
	font-size:50px;
	text-align:center;
}

