body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.anim {
-webkit-animation:shakemeup 900ms infinite alternate;
        margin-top:30px;
	color:#f2da5b;
	font-family:"Jolly Lodger",cursive;
	font-size:50px;
	text-align:center;
}
@-webkit-keyframes shakemeup{
	from{
		text-shadow:0 4px 0 black,-2px -2px 0 #333,-3px -3px 0 #f2da5b;
		-webkit-transform:rotate(1deg) translateX(1px) translateY(1px);
	}
	to{
		-webkit-transform:rotate(-1deg) translateX(-1px) translateY(-1px);
		text-shadow:0 1px 0 black, 1px 1px 0 #333, 2px 2px 0 #f2da5b,-3px -5px 0 #333, -4px -6px 0 rgba(242,218,91,0.6);
		letter-spacing:-2px; word-spacing:12px; font-size:49px;
	}
 


}
@media(max-width:768px){
.input-group{
    margin-bottom:5px;
    }
    }
.brand{
   max-height:25px;
   }   

